:root {
	--bg-color: #0f0f0f;
	--primary: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Ubuntu', sans-serif;
	background-color: var(--bg-color);
	color: var(--primary);
	font-size: 2rem;
}

p{
	font-size: 1.6rem;
}


